.container {
  max-width: 75%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100vh;
  padding-top: 2rem;
}

.resultContainer {
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.resetContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    color: #fff;
  }
}
.resetBtn {
  width: 100%;
  max-width: 150px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.596);
  outline: none;
  padding: 4px 8px;

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }
}

.choiceContainer {
  color: #fff;
  & h2 {
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
  }
}

.rulesBtn {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid rgb(160, 160, 160);
  color: rgb(206, 206, 206);
  border-radius: 2px;
  padding: 4px 8px;
  outline: none;

  &:hover {
    border: 1px solid rgb(231, 231, 231);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

@media (max-width: 3000px) {
  .container {
    max-width: 45%;
  }
  .resultContainer {
    max-width: 70%;
  }
}

@media (max-width: 1800px) {
  .container {
    max-width: 65%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 65%;
  }
  .resultContainer {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .resetContainer {
    width: 70%;
  }

  .container {
    max-width: 95%;
  }
  .resultContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
  }

  .rulesBtn {
    position: absolute;
    right: 4%;
    bottom: 2%;
    font-size: 0.9rem;
  }
}
